.login-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.message {
  display: none;
}

.invalid {
  color: red;
}

.invalid::before {
  position: relative;
  left: -35px;
  content: "✖";
}

.valid {
  color: green;
}

.valid:before {
  position: relative;
  left: -35px;
  content: "✔";
}
